<div class="Session">

    <div class="divLogo">
        <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
    </div>

    <h1>Formulario de datos requeridos:</h1>

    <br />

    <p>
        Antes de darte acceso a la plataforma, requerimos que completes algunos datos adicionales.
    </p>

    <p> Por favor, completa
        los siguientes datos requeridos para iniciar sesión.
    </p>

    <br />

    <form id="extraForm">

        <input type="text" name="last_name" placeholder="Apellido" required>

        <br />

        <input type="email" name="email" placeholder="Correo" required>

        <br />

        <input type="number" name="age" placeholder="Edad" required>

        <br />

        <input type="password" name="password" placeholder="Contraseña" required>

        <br />

        <input class="boton" type="submit">

    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/extraForm.js"></script>