<div class="Session">

    <div class="divLogo">
        <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
    </div>

    <h1>Restablecer contrase침a - Solicitar correo:</h1>

    <form id="resetPassForm1">

        <p>Ingrese su direcci칩n de correo electr칩nico y le enviaremos instrucciones para restablecer su contrase침a. </p>

        <br />

        <input type="email" placeholder="Correo" name="email" required>

        <br />

        <input class="boton" type="submit">

        <br />

        <p style="font-weight: bold;" >IMPORTANTE: Recuerda revisar tu bandeja de spam en caso de no ver el correo en la vista principal.</p>

    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/requestResetPass.js"></script>