<div class="Session">

    <div class="divLogo">
        <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
    </div>

    <h1>Restablecer contrase침a:</h1>

    <form id="resetPassForm2">
        <input type="password" name="newPassword" placeholder="Nueva contrase침a" required>
        <br />
        <input type="password" name="confirmPassword" placeholder="Confirmar contrase침a" required>
        <br />
        <input class="boton" type="submit">
    </form>

    <br />

    <p><a href="/login">Iniciar sesi칩n</a></p>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPass.js"></script>